# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.
*       @BSData/data-admins-wh40k

# Order is important; the last matching pattern takes the most precedence.

# Generic "owners"
Aeldari*    @FarseerVeraenthis
Chaos*      @ilaunchbury
Imperium*   @alphalas
Tyranids*   @GenWilhelm

# Exceptions from globs above

# Aeldari
*Drukhari.cat              @WindstormSCR
*Harlequins.cat            @WindstormSCR @FarseerVeraenthis
*Ynnari.cat                @WindstormSCR @FarseerVeraenthis 

# Imperium
*Adeptus\ Custodes.cat            @WindstormSCR
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @Crowbar90
*Dark\ Angels.cat                 @Thairne
*Questor\ Imperialis.cat          @Crowbar90
*Blood\ Angels.cat                @Crowbar90
*FW\ Adeptus\ Astartes.cat        @Crowbar90
*Legion\ of\ the\ Damned.cat      @Crowbar90
*Deathwatch.cat                   @acebaur
*Space\ Marines.cat               @flakpanda
*FW\ Death\ Korps\ of\ Krieg.cat  @CrusherJoe @alphalas
*Grey\ Knights.cat                @tekton
*Space\ Wolves.cat                @CrusherJoe @penguin20000

# Other Xenos
Necrons.cat        @Kohato
Orks.cat           @tag8833
T?au\ Empire.cat  @amis92
# the above question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
