# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.
*       @BSData/data-admins-wh40k

# Order is important; the last matching pattern takes the most precedence.

# Generic "owners"
Aeldari*    @FarseerVeraenthis
Chaos*      @ilaunchbury
Imperium*   @alphalas @Thairne @flakpanda @Crowbar90
Tyranids*   @GenWilhelm

# Exceptions from globs above

# Aeldari
*Drukhari*              @Toreador13
*Harlequins*            @USSX-Hares @FarseerVeraenthis
*Ynnari*                @USSX-Hares @FarseerVeraenthis @Toreador13

# Chaos
"*FW Renegade and Heretics*" @Penallegion

# Imperium
"*FW Death Korps of Krieg*" @CrusherJoe @alphalas
"*Grey Knights*"        @tekton
"*Space Wolves*"        @penguin20000

# Other Xenos
*Necrons* @Kohato
*Orks*    @tag8833
"*T'au Empire*"    @amis92
