# Ignore everything
*

# Don't ignore .git* files
!.gitignore
!.gitattributes

# Don't ignore catalogues and game system
!*.cat
!*.gst

# Don't ignore docs
!*.md

# Don't ignore github files
!/.github
!/.github/**

# Don't ignore .yml for CI build definitions
!*.yml